.consultingWrapper {
    display: flex;
    justify-content: space-between;
}

.margin-block {
    margin-right: 86px;
}

.consulting {
    margin-top: 176px;
    width: 800px;
    height: 401px;

    &__title {
        width: 747px;
        height: 165px;
        font-size: 65px;
        font-weight: 600;
        line-height: 135%;
        text-transform: uppercase;
    }

    &__subtitle {
        width: 675px;
        height: 48px;
        position: relative;
        margin-top: 53px;
        margin-left: 23px;
        &-text {
            font-size: 16px;
            line-height: 150%;
            opacity: 0.5;
        }
    }

    &__subtitle::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -23px;
        height: 39px;
        width: 1px;
        background-color: white;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    &__btn {
        @include btn;
        position: relative;
        border: none;
        cursor: pointer;

        .btnArrow {
            position: absolute;
            bottom: 12px;
            right: 12px;
        }

        span {
            margin-right: 80px;
        }
    }
    &__btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 310px;
        width: 2px;
        height: 100%;
        background-color: #0b3461;
    }

    &__btnFree {
        @include btn;
        position: relative;
        border: none;
        color: white;
        background: transparent;
        cursor: pointer;
        border: 1px solid white;

        .btnArrow {
            position: absolute;
            bottom: 12px;
            right: 12px;
        }

        span {
            margin-right: 80px;
        }
    }

    &__btnFree::after {
        content: "";
        position: absolute;
        top: 0;
        left: 310px;
        width: 1px;
        height: 100%;
        background-color: white;
    }

    &__additionalInformation {
        margin-top: 115px;
        display: flex;
    }

    .quantity {
        position: relative;
        width: 190px;
        height: 137px;
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 230px;

        padding: 0 0 10px;
        &__number {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 40px;
        }

        &__text {
            font-family: "Raleway", sans-serif;
            font-size: 16px;
            opacity: 0.5;
            line-height: 122%;
            width: 166px;
        }
    }

    .quantity::before {
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.61);
    }

    .percent {
        position: relative;
        width: 190px;
        height: 137px;
        padding: 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__number {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 40px;
        }

        &__text {
            font-family: "Raleway", sans-serif;
            font-size: 16px;
            opacity: 0.5;
            line-height: 122%;
        }
    }

    .percent::before {
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.61);
    }
}

.mentor {
    margin-top: 58px;
}
