@import "../variables";

.header {
    font-family: "Montserrat", sans-serif;

    &__logo {
        font-size: 18px;
        font-weight: 600;
        width: 169x;
        position: relative;
    }

    &__logo::before,
    &__logo::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: white;
    }

    &__logo::before {
        top: -4px;
    }

    &__logo::after {
        bottom: -4px;
    }

    &__items {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        width: 205px;
    }
}

.navigation {
    &__items {
        font-size: 14px;
        width: 608px;
        height: 17px;
        display: flex;
    }
    li {
        margin-left: 30px;
    }
    li:first-child {
        margin-left: 0px;
    }

    a {
        font-weight: 400;
        color: $text-color;
    }
}
