@import "../variables";

.header {
    font-family: "Montserrat", sans-serif;

    .logo {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 600;
        width: 169px;
        position: relative;
        cursor: pointer;
        color: $text-color;
    }

    .logo::before,
    .logo::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: white;
    }

    .logo::before {
        top: -5px;
    }

    .logo::after {
        bottom: -5px;
    }

    &__inner {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        font-size: 18px;
        width: 205px;

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            color: $text-color;
        }
    }

    &__menu {
        display: none;
    }

    @media (min-width: 1040px) {
        &__navigation {
            &-items {
                font-size: 14px;
                width: 608px;
                height: 17px;
                display: flex;
            }
            &-item {
                margin-left: 30px;
                &:first-child {
                    margin-left: 0px;
                }
            }
            &-link {
                font-weight: 400;
                color: $text-color;
            }

            button {
                display: none;
            }
        }
    }
}
@media (max-width: 1040px) {
    .header__phone {
        display: none;
    }
    .header__menu {
        height: 40px;
        display: flex;

        &-btn {
            margin-right: 8px;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .header__navigation {
        background-color: #0f1d45;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 40px;
        z-index: 999;
        transition: right 0.5s ease;
        &.active {
            right: 0;
        }

        &-items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-item {
            margin-bottom: 20px;
        }

        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            cursor: pointer;
        }
        &-link {
            color: white;
            font-size: 18px;
        }
    }
}
