@import "../variables";

.header {
    font-family: "Montserrat", sans-serif;

    .logo {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 600;
        width: 169px;
        position: relative;
    }

    .logo::before,
    .logo::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: white;
    }

    .logo::before {
        top: -5px;
    }

    .logo::after {
        bottom: -5px;
    }

    &__items {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        font-size: 18px;
        width: 205px;

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            color: $text-color;
        }
    }

    &__navigation {
        &-items {
            font-size: 14px;
            width: 608px;
            height: 17px;
            display: flex;
        }
        &-item {
            margin-left: 30px;
            &:first-child {
                margin-left: 0px;
            }
        }
        &-link {
            font-weight: 400;
            color: $text-color;
        }
    }
}
