@mixin btn-common {
    position: relative;
    border: none;
    cursor: pointer;
    width: 380px;
    height: 71px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;

    .btnArrow {
        position: absolute;
        bottom: 20%;
        right: 4%;
    }

    span {
        // margin-right: 80%;
        padding-right: 20%;
    }
}
